body {
    background: rgb(247, 174, 87);
    margin: 0;
    font-family: 'Yatra One', cursive;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

iframe {
    border: 10px solid black;
    border-radius: 10%;
    background-color: black;
}

p {
    font-size: 20px;
    text-align: center;
    width: 40%;
}

#answ {
    margin-bottom: 100px;
}
#choose {
    font-size: 17px;
    color: rgb(1,164,100);
}