body {
    background: rgb(247, 174, 87);
    margin: 0;
    font-family: 'Yatra One', cursive;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.gif-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

iframe {
    border: 10px solid black;
    border-radius: 10%;
    background-color: black;
    margin: 100px 20px;
}
}

p {
    font-size: 20px;
    text-align: center;
    width: 40%;
}

#answ {
    margin-bottom: 100px;
}

.hide {
    display: none;
}