body {
    height: 90vh;

    background: rgb(247, 174, 87);
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
}

header{
    position: relative;
    margin-top: 0px; 
    text-align: center;
}

h1 {
    font-family: 'Potta One', cursive;
    font-size: 75px;
    margin-bottom: 10px;
}

h3 {
    font-size: 30px;
    margin: -20px;
}

header > p {
    font-size: 20px;
    margin: 30px;
}

 .container {

    display: flex;
    flex-flow: column;
    align-items: center;
}
.gif-container {
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 50
    
}


iframe {
    z-index: 1;
    border: 10px solid black;
    border-radius: 10%;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#newClue {
    font-size: 25px;
    font-family: 'Big Shoulders Display', cursive;
    border: 2px solid black;
    margin: 50px 20px 20px 20px;
}
/*
input {
    font-size: 25px;
    font-family: 'Big Shoulders Display', cursive;
    border: 2px solid black;

}

select {
    font-size: 25px;
    font-family: 'Potta One', cursive;
    margin: 10px 30px;
}

#answ {
    margin: 10px 0px -100px 0;
    margin-bottom: 100px;

}

#answer {
    font-size: 20px;
    font-family: 'Potta One', cursive;
    width: 350px;
    margin: 10px 30px; */
}

.instructions {
    z-index: 100;
}
.instructions > p {
    z-index: 100;
    font-size: .75em;
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 30%;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
}

small {
    opacity: 0;
    font-size: 15px;
}

.hide {
    display: none;
}

.show-description p {
    height: 250px;
}
  
.show-description small {
    opacity: 1;
}